chromadb
fastapi
langchain
langchain-core
langchain-openai
langchain-community
unstructured[local-inference,pdf]
uvicorn[standard]
openai
tqdm
tiktoken
python-dotenv
python-magic
watchdog
faiss-cpu
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
alembic>=1.13.1
sentence-transformers
transformers
sentencepiece
sacremoses
torch